.newCharacterForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textNewCharacter {
  margin-right: 5px;
  font-weight: bold;
  margin-left: 20px;
}
.newCharacterInput {
  width: 120px;
  height: 45px;
  background-color: #f5811456;
  border: none;
  border-radius: 10px;
}
